<h1>結果表示</h1>
<h3>回答数: <%= Questionnaire.count %></h3><br>
<%= link_to "詳細表示", table_admin_users_path, class: "btn btn-primary", target: "_blank" %>
<br><br>
<h5>問3 就活を意識して何か取り組んでいる: <%= q_all_caliculation(Questionnaire.where(conscious_working: "はい").count) %>%</h5>

<h5>問4 はいの場合何をしているか</h5>
<!-- Todo: validation設定.今のままだと全体のカラム/はいのカラムなので100%を超える可能性がある -->
<!-- はい＆＆conscious_workingがはいの人をconscious_workingがはいの人で割ることで解決! -->
<ul>
  <li>企業調べをしている:<%= conscious_working_calculation(Questionnaire.where(search_site: 1, conscious_working: 0).count) %>%</li>
  <li>自己分析をしている:<%= conscious_working_calculation(Questionnaire.where(analysis_myself: 1, conscious_working: 0).count) %>%</li>
  <li>面接対策をしている:<%= conscious_working_calculation(Questionnaire.where(practice_interview: 1, conscious_working: 0).count) %>%</li>
  <li>ES対策をしている:<%= conscious_working_calculation(Questionnaire.where(practice_es: 1, conscious_working: 0).count) %>%</li>
  <li>インターンに参加している:<%= conscious_working_calculation(Questionnaire.where(join_internship: 1, conscious_working: 0).count) %>%</li>
  <li>説明会に参加している:<%= conscious_working_calculation(Questionnaire.where(attend_job_fair: 1, conscious_working: 0).count) %>%</li>
  <li>企業と面談している:<%= conscious_working_calculation(Questionnaire.where(interview_company: 1, conscious_working: 0).count) %>%</li>
  <li>選考面接を既に受けた:<%= conscious_working_calculation(Questionnaire.where(selection_by_company: 1, conscious_working: 0).count) %>%</li>
  <li>その他:<%= conscious_working_calculation(Questionnaire.where(other: 1, conscious_working: 0).count) %>%</li>
</ul>
<hr>

<h5>問5 これから就活に取り組もうとしている: <%= q_5_caliculation(Questionnaire.where(from_now: "はい").count) %>%</h5>
<hr>

<h5>問6 はいの場合何をしているか</h5>
<ul>
  <li>就活サイト等で企業調べをしている:<%= q_6_caliculation(Questionnaire.where(search_site_no: 1, from_now: 0).count) %>%</li>
  <li>自己分析をしている:<%= q_6_caliculation(Questionnaire.where(analysis_myself_no: 1, from_now: 0).count) %>%</li>
  <li>面接対策をしている:<%= q_6_caliculation(Questionnaire.where(practice_interview_no: 1, from_now: 0).count) %>%</li>
  <li>ES対策をしている:<%= q_6_caliculation(Questionnaire.where(practice_es_no: 1, from_now: 0).count) %>%</li>
  <li>インターンに参加している:<%= q_6_caliculation(Questionnaire.where(join_internship_no: 1, from_now: 0).count) %>%</li>
  <li>説明会に参加している:<%= q_6_caliculation(Questionnaire.where(attend_job_fair_no: 1, from_now: 0).count) %>%</li>
  <li>その他:<%= q_6_caliculation(Questionnaire.where(other_no: 1, from_now: 0).count) %>%</li>
</ul>
<hr>

<h5>問8 就活に対して不安があるか: <%= q_all_caliculation(Questionnaire.where(anxiety: "はい").count) %>%</h5>
<hr>

<h5>問9 はいの場合何が不安か</h5>
<ul>
  <li>就活のやり方がわからない:<%= q_9_caliculation(Questionnaire.where(how_to_do: 1, anxiety: 0).count) %>%</li>
  <li>開始時期がわからない:<%= q_9_caliculation(Questionnaire.where(start: 1, anxiety: 0).count) %>%</li>
  <li>事前準備がわからない:<%= q_9_caliculation(Questionnaire.where(prepare: 1, anxiety: 0).count) %>%</li>
  <li>内定をもらえるのか不安:<%= q_9_caliculation(Questionnaire.where(job_offer: 1, anxiety: 0).count) %>%</li>
  <li>自分のやりたいことがない:<%= q_9_caliculation(Questionnaire.where(nothing_to_do: 1, anxiety: 0).count) %>%</li>
  <li>就職先をなにで決めるべきかわからない:<%= q_9_caliculation(Questionnaire.where(decision:1, anxiety: 0).count) %>%</li>
  <li>面接で何を話せばいいか:<%= q_9_caliculation(Questionnaire.where(talk_interview: 1, anxiety: 0).count) %>%</li>
  <li>ESの書き方を知らない:<%= q_9_caliculation(Questionnaire.where(write_es: 1, anxiety: 0).count) %>%</li>
  <li>漠然と不安:<%= q_9_caliculation(Questionnaire.where(just_because: 1, anxiety: 0).count) %>%</li>
  <li>情報が少ない:<%= q_9_caliculation(Questionnaire.where(less_info: 1, anxiety: 0).count) %>%</li>
  <li>内定先が決まってもそこで働き続けられるかわからない:<%= q_9_caliculation(Questionnaire.where(continue_to_work: 1, anxiety: 0).count) %>%</li>
  <li>自己分析ができない:<%= q_9_caliculation(Questionnaire.where(unknown_myself: 1, anxiety: 0).count) %>%</li>
  <li>その他:<%= q_9_caliculation(Questionnaire.where(other_anxiety: 1, anxiety: 0).count) %>%</li>
</ul>
<hr>

<h5>問10 いいえの場合なぜ不安がないのか</h5>
<ul>
  <li>もともと不安がない:<%= q_last_caliculation(Questionnaire.where(nothing_anxiety: 1, anxiety: 1).count) %>%</li>
  <li>周りの人の状況を聞く限り不安に思わない:<%= q_last_caliculation(Questionnaire.where(all_right: 1, anxiety: 1).count) %>%</li>
  <li>インターンなどに参加した:<%= q_last_caliculation(Questionnaire.where(join_internship_reason: 1, anxiety: 1).count) %>%</li>
  <li>不安がない理由その他:<%= q_last_caliculation(Questionnaire.where(other_no_anxiety: 1, anxiety: 1).count) %>%</li>
</ul>
<hr>

<%#= link_to "API表示", api_admin_users_path, class: "btn btn-primary" %><br><br>
<%= link_to "ログアウト", destroy_admin_user_session_path, method: :delete, class: "btn btn-danger" %>
<br><br><br>
