<table>
  <thead>
    <tr>
      <th>番号</th>
      <th>学年</th>
      <th>大学名</th>
      <th>問7 いつごろから?</th>
      <th>問9 インターンの経験(あれば)</th>
      <th>問9 相談相手(あれば)</th>
      <th>問11 最も重要視する点</th>
      <th>解答時間</th>
      <th>削除</th>
    </tr>
  </thead>
  <tbody>
    <% @questionnaires.each do |q| %>
      <tr>
        <td><%= q.id %></td>
        <td><%= q.school_year %></td>
        <td><%= q.university_name %></td>
        <td>
          <% if q.conscious_working == "はい" %>
            -
          <% elsif q.nothing_schedule.present? && q.from_now == "いいえ" %>
            就活する予定はない
          <% else %>
            <%= q.when_to_start.to_s(:date) %>
          <% end %>
        </td>
        <td><%= q.description_internship.present? && q.anxiety == "はい" ? q.description_internship : "-" %></td>
        <td><%= q.consultation.present? && q.anxiety == "はい" ? q.consultation : "-" %></td>
        <td><%= q.most_select_reason %></td>
        <td><%= q.created_at.strftime("%Y-%m-%d %H:%M") %></td>
        <td><%= link_to "削除", q, method: :delete, data: { confirm: "本当に削除しますか？" } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
